
body{
    padding:2em;
}
.navbar{
    border:solid black;
    display:flex;
}
.navbtn{
    border:solid black;
    width:20%;
    margin:12px;
    text-align:center;
}
.mainImg{
    border:solid red;
    height:62vh;
}

.mainPic{
    width: 100%;
    height: 62vh;
}

.para{
    border:solid black;
    height:30vh;
    padding:1em;
    font-size:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    height: 22vh;
}