body, html {
    margin: 0;
    font-family: sans-serif;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: normal;
}

a {
    color: #006BD7;
    text-decoration: none;
}

a:hover {
    color: #006BD7;
    text-decoration: underline;
}


.navBar {
    /* border: solid black; */
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b99ec;
    position: fixed;
    z-index: 1;
}

.pages {
    /* border: solid black; */
    height: 9vh;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}


.pagesbut {
    background: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.pagesbut:hover {
    background: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
}

.logo {
    /* border: solid black; */
    width: 40%;
    height: 9vh;
}

.logo img {
    height: 9vh;
    width: 100%;
}

.icons {
    /* border: solid black; */
    height: 9vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
}

.iconcontainer {
    /* border: solid black; */
    height: 9vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    padding-top: 7px;
}

.searchbar {
    /* border: solid black; */
    height: 3vh;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 5%;
}

.searchpicmain {
    /* border: solid black; */
    height: 3.2vh;
    width: 2.6%;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcf00;
}

.searchpic {
    height: 2vh;
}

.yellowsearch {
    height: 3vh;
    width: 65%;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid rgb(224, 224, 224);
    text-indent: 13px;
}


.heart {
    height: 2vh;
    width: 35%;
}

.bag {
    height: 4vh;
    width: 70%;
}


.background {
    /* border: solid #000000; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 5.5%;
}

.background img {
    height: 100%;
    width: 100%;
}

.message {
    /* border: solid black; */
    position: absolute;
    width: 25%;
    margin-left: 5%;
    text-shadow: 0 2px 0 #1903e4;
    color: #f9fc23;
    font-family: fantasy;
}


.toys {
    /* border: solid black; */
    height: 70vh;
    padding: 0px 18px;
    display: block;
}

.titles {
    text-align: center;
    margin-top: 10px;
}

.header {
    font-size: 18px;
}

.price {
    font-size: 15px;
}

.sell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell div {
    color: green;
    font-size: 12px;
}

.sell div:hover {
    color: green;
    font-size: 12px;
    text-decoration: underline;
}


.row1t {
    /* border: solid black; */
    height: 55vh;
    display: flex;
    justify-content: space-between;
}

.clothes {
    /* border: solid black; */
    height: 70vh;
    padding: 0px 18px;
    display: block;
}

.row1c {
    /* border: solid black; */
    height: 55vh;
    display: flex;
    justify-content: space-between;
}

.items {
    /* border: solid black; */
    width: 32%;
}

.itemimg {
    height: 41vh;
    width: 100%;
}
