body {
    background-color: rgb(233, 246, 248);
    font-family: cursive;
}

.navBar {
    border: ridge;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainContainer {
    /* border: ridge; */
    height: 80vh;
    width: 100%;
    display: flex;
}

.sideMenu {
    border: ridge;
    height: 80vh;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.category {
    /* border: ridge; */
    height: 10vh;
    width: 100%;
    display: flex;
}

.categoryPic {
    /* border: ridge; */
    width: 60%;
    height: 10vh;
}

.categoryPic img{
    border-radius: 5px;
    width: 100%;
    height: 10vh;
}
.categoryTitle {
    /* border: ridge; */
    width: 40%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.menuDisplay {
    /* border: solid red; */
    height: 100vh;
    width: 80%;
}

.title {
    /* border: ridge; */
    text-align: center;
    height: 3.5vh;
    width: 100%;
}

.itemDisplay {
    /* border: ridge; */
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    border: groove;
    border-radius: 5px;
    height: 44vh;
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}

.itemPic {
    /* border: solid black; */
    height: 24vh;
    width: 100%;
}

.itemPic img{
    height: 24vh;
    width: 100%;
}

.itemTitle {
    /* border: solid black; */
    height: 4vh;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 17px;
}

.itemSum {
    /* border: solid black; */
    height: 8vh;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.itemPrice {
    /* border: solid black; */
    height: 3vh;
    width: 100%;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.modal {
    border: solid black;
    position: fixed;
    height: 20vh;
    width: 50%;
    z-index: 10;
    background-color: black;
}