/* Desktop View */

@media (max-width: 5000px) {
    body {
      background-image: url(https://st2.depositphotos.com/5473448/8818/i/950/depositphotos_88183402-stock-photo-strawberry-ice-cream.jpg);
      background-size: cover;
      color:blue;
    }

    .container2 {
        display: flex;
        justify-content: space-around;
    }

    .text {
        width: 400px;
    }

    .container3 {
        display: flex;
        justify-content: space-around;
    }


    .cone {
        width: 80px;
        height: 80px;
        background-image: url(https://www.freeiconspng.com/thumbs/strawberry-png/strawberry-png-31.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
  }


/* ---------------------------------------------- */

  /* Ipad mid-screen view */

  @media (max-width: 1280px) {
    body {
      background-image: url(https://arcticbuzzicecream.com/wp-content/uploads/2019/03/AdobeStock_208955943-1.jpeg);
      background-size: cover;
      color: black;
    }

    .container2 {
        display: flex;
        justify-content: space-around;
    }

    .text {
     width: 400px;
    }

    .cone {
        width: 80px;
        height: 80px;
        background-image: url(https://assets.stickpng.com/thumbs/5954b791deaf2c03413be339.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
  }


/* -------------------------------------------------- */

  /* Mobile view */

  @media (max-width: 680px) {
    body {
      background-image: url(https://www.tasteofhome.com/wp-content/uploads/2019/02/shutterstock_644634685-chocolate-ice-cream.jpg);
      background-size: cover;
      color: white;
    }

    .container2 {
        display:block;
    }

    .container3 {
        display: none;
    }

    .cone {
        width: 100px;
        height: 100px;
        background-image: url(https://icon.holidaypng.com/20200109/syk/chocolate-bar-chocolate-food-for-valentines-day-5e1689bc516ac0.19254151.png);
        background-size: contain;
      }
  }

  /* ---------------------------------------------------- */

