/* Insert any CSS code below here */

#outside {
    z-index: 1;
    position: absolute;
    background-color: rgb(247, 211, 217);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-origin: 0;
}

.open-card {
    transform: rotateY(90deg);
}

#outside-title {
    color: red;
    font-family: Courier;
    font-size: 18pt;
    text-align: center;
}

#outside-pic {
    width: 350px;
    height: 250px;
}

#outside-help {
    color: red;
    font-family: Courier;
    font-size: 16pt;
    text-align: center;
    padding: 20px;
}

#inside {
    z-index: 0;
    position: absolute;
    background-color: rgb(247, 211, 217);
    width: 100%;
    height: 100%;
    text-align: center;
}

#inside-title {
    color: red;
    font-family: Courier;
    font-size: 20pt;
    text-align: center;
}

#inside-pic {
    width: 400px;
    height: 350px;
}

#message {
    color: red;
    font-family: Courier;
    font-size: 16pt;
    text-align: center;
}

button {
    background: pink;
    color: red;
}