@media (max-width: 2680px) {
    body {
      background-color: black;
      color: black;
    }

    .navContainer {
      background-color: rgb(2, 37, 2);
      border: solid #333C3F;
      height: 52px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: white;
      /* position: fixed; */
    }

    .left {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .mid {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .right {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .nlTab {
      border: solid red;
      border-width: .2px;
      width: 70px;
      height: 45px;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;

    }

    .mainContainer {
      border: solid #333C3F;
      height: 600vh;
      display: flex;
      justify-content: space-evenly;
      border-width: .2px;
    }

    .leftBar {
      border: solid #333C3F;
      border-width: .2px;
      width: 20%;
      display: block;
      color: white;
    }

    .mainScrollContainer {
      border: solid black;
      border-width: .2px;
      width: 60%;
      display: block;
    }

    .rightBar {
      border: solid #333C3F;
      border-width: .2px;
      width: 20%;
      display: block;
      color: white;
    }
}


  /*------- Desktop-------------------------- */
@media (max-width: 1280px) {
    body {
      background-color: black;
      color: salmon;
    }

    .navContainer {
      background-color: rgb(2, 37, 2);
      border: solid #333C3F;
      height: 52px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      /* position: fixed; */
    }

    .left {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .mid {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .right {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .nlTab {
      border: solid red;
      border-width: .2px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .mainContainer {
      border: solid black;
      height: 600vh;
      display: flex;
      justify-content: space-evenly;
      border-width: .2px;
    }

    .leftBar {
      border: solid #333C3F;
      border-width: .2px;
      width: 0%;
      display: none;
      color: white;
    }

    .mainScrollContainer {
      border: solid #333C3F;
      border-width: .2px;
      width: 70%;
      display: block;
    }

    .rightBar {
      border: solid #333C3F;
      border-width: .2px;
      width: 30%;
      display: block;
      color: white;
    }
}

  /* -------------Ipad----------------------- */
@media (max-width: 680px) {
    body {
      background-color: black;
      color: white;
    }

    .navContainer {
      background-color: rgb(2, 37, 2);
      border: solid #333C3F;
      height: 52px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      /* position: fixed; */
    }

    .left {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .mid {
      width: 40%;
      display: none;
      justify-content: space-evenly;
      margin: 3px;
    }

    .right {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      margin: 3px;
    }

    .nlTab {
      border: solid red;
      border-width: .2px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .mainContainer {
      border: solid #333C3F;
      height: 600vh;
      display: flex;
      justify-content: space-evenly;
      border-width: .2px;
    }

    .leftBar {
      /* border: solid white; */
      border-width: .2px;
      width: 0%;
      display: none;
      color: white;
    }

    .mainScrollContainer {
      padding-top:3vh;
      border: solid black;
      border-width: .2px;
      width: 100%;
      display: block;
    }

    .rightBar {
      border: solid black;
      border-width: .2px;
      width: 0%;
      display: none;
      color: white;
    }
}

  /* -----------Mobile ----------------------*/
  /* --------------------------------------- */
  .categoryContainer {
    border: solid #333C3F;
    margin-top: 15px;
    color: white;
    display: flex;
    background-color: rgb(2, 37, 2);
  }

  .icon {
    border: solid green;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .postContainer{
    border:solid white;
    border-width:.2px;
    margin-bottom:12vh;
    width:100%;
    /* height:61vh; */
    
  }
  .postMain{
    border:solid #333C3F;
    border-width:.2px;
    height:400px;
    background-image: url(https://s.yimg.com/uu/api/res/1.2/5HmV7FaGzP.ii4LmaCpZgQ--~B/Zmk9c3RyaW07aD0zMjA7dz01NzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2022-10/fc572490-4590-11ed-b7de-b25f1cbc7cdd.cf.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  .postMain2{
    border:solid #333C3F;
    border-width:.2px;
    height:400px;
    background-image: url(https://s.yimg.com/ny/api/res/1.2/TqwXAWpWfk85gBzsdx.gGw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTcwNTtoPTQ3MA--/https://media.zenfs.com/en/bizjournals.com/529d21f7b3c8e01699bf253b3eb60432);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  .btnContainer{
    /* border:solid #333C3F; */
    display:flex;
    justify-content: space-evenly;
    margin-top:8vh;
  }
  .btn{
    border:solid white;
    border-width:.2px;
    width:23%;
    height:25px;
    background-color:#333C3F;
    text-align:center;
    color: white;
  }
  .catcher{
    display:flex;
    justify-content: space-between;
    font-size:12px;
    margin:2em;
    text-align:right;
    color: white;
  }
  .commentContainer{
    border:solid lightblue;
    border-width:.2px;
    height:8vh;
    margin-top:22px;
    color: white;
  }
  .postHeader{
    background-color: rgb(2, 37, 2);
    height:6vh;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
  }

  .catBox {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }