body {
    background-image: linear-gradient(to bottom right, rgb(134, 187, 239), rgb(199, 246, 154));
    display: flex;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: left;
}

.left {
    /* border: solid black; */
    height: 160vh;
    width: 20%;
    display: inline;
    justify-content: center;
}

.left img {
    height: 53vh;
    width: 100%;
}

.right {
    /* border: solid black; */
    height: 160vh;
    width: 20%;
    display: inline;
    justify-content: center;
}

.right img {
    height: 53vh;
    width: 100%;
}

.main {
    border: solid black;
    height: 165vh;
    width: 60%;
    border-radius: 5%;
}

.sec1 {
    display: flex;
}

.image {
    /* border: solid black; */
    height: 44vh;
    width: 35%;
    display: flex;
    justify-content: center;
}

.image img{
    height: 42vh;
    width: 90%;
    margin-top: 1vh;
    border-radius: 20%;
}


.intro {
    /* border: solid black; */
    height: 35vh;
    width: 65%;
    text-align: center;
    font-size: larger;
}

.linkedIn {
    /* border: solid black; */
    height: 4vh;
    display: flex;
}

.linkedIn img{
    height: 3vh;
    margin-left: 7px;
}

.experience {
    /* border: solid black; */
    height: 29vh;
    width: 100%;
}

.workImg {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
}

.workImg2 {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
    opacity: .2;
} 


.education {
    /* border: solid black; */
    height: 29vh;
    width: 100%;
}

.eduImg {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
}

.eduImg2 {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
    opacity: .2;
}

.skills {
    /* border: solid black; */
    height: 29vh;
    width: 100%;
}

/* .skills img {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
    THIS IS ANOTHER WAY TO ADD ATTRIBUTES TO TAGS
} */

.skillImg {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
}

.skillImg2 {
    height: 29vh;
    width: 100%;
    border-radius: 13%;
    opacity: .2;
}

.reveal, .reveal1, .reveal2 {
    position: relative;;
    height: 5vh;
    bottom: 90%;
    margin-left: 2%;
    font-size: 20px;
}
