body {
  display: flex;
  justify-content: center;
  color: rgb(254, 254, 254);
  -webkit-text-stroke: 0.75px #7c88c4;
}

.App {
  text-align: center;
  border: solid black;
  /* width: 820px; */
  /* height: 1500px; */
  background-image: url("./movieappbackground.png");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  position: sticky;
  top: 0;
  /* width: 100%; */
  border: ridge;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-image: url("./movieappbackground.png");
  background-size: cover;
  font-size: 20px;
}

.nav-btn {
  /* border: solid red; */
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.nav-form {
  /* border: solid black; */
  display: flex;
  justify-content: right;
  width: 25%;
}

.formfield {
  /* border: solid green; */
  display: flex;
  border: groove;
  margin-right: 5px;
}

.searcharea {
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  color: rgb(254, 254, 254);
}

.button {
  font-weight: bold;
  /* border: solid red; */
}

.button:hover {
  cursor: pointer;
  font-weight: bolder;
  font-size: 25px;
}

.main-Display {
  width: 100%;
  /* border: solid black; */
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-top: 10px;
  margin-left: 8px;
  overflow-y: scroll;
}

.main-Display::-webkit-scrollbar {
  display: none;
}

.movie-item {
  /* border: solid black; */
  width: 157px;
  height: 200px;
  margin: 15px;
}

.movie-item img {
  width: 150px;
  height: 200px;
  border: groove;
}

.movie-Display {
  display: flex;
  margin-top: 20px;
  /* padding-top: 20px;
  position: sticky;
  top: 45px;
  background-image: url("./movieappbackground.png");
  background-size: cover; */
}

.poster {
  margin-left: 10px;
}

.poster img {
  height: 520px;
  width: 450px;
  border: groove;
}

.summary {
  /* border: #61dafb solid; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
}

.summary div {
  /* border: solid black; */
  font-weight: bold;
}

.title {
  font-size: 45px;
}

.runtime {
  /* border: black solid; */
  width: 300px;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
}

.time {
  /* border: solid firebrick; */
  width: 180px;
}

.plot {
  /* border: solid black; */
  font-size: 22px;
  margin-top: 60px;
  overflow-y: hidden;
  height: 210px;
  margin-right: 20px;
  /* width: 800px; */
  cursor: pointer;
}

.plot:hover {
  overflow-y: scroll;
}
/* .plot::-webkit-scrollbar {
  display: none;
} */

.tomato {
  width: 25px;
  height: 25px;
}

.ratings {
  width: 70px;
  display: flex;
  justify-content: space-between;
  /* border: solid red; */
}
