.broadcast {
    display: flex;
}

.screen {
    border: solid black;
    height: 40vh;
    width: 50%;
}

.screen img {
    height: 40vh;
    width: 100%;
}

.temperature {
    /* border: solid black; */
    width: 20%;
    text-align: center;
    font-size: 40px;
}

.summary {
    margin-top: 10px;
}